# Improved Flight Price Prediction <i> ~Flight_Duration</i>

In [2]:
# importing required libraries

import pandas as pd

In [3]:
import os

print(os.getcwd())

C:\Users\Ashutosh Kumar Singh\PythonTraining\flight raw

In [4]:
# loading dataframe

df = pd.read_excel('Processed_Flight_data.xlsx')
df.head()

,Date,Name,From,To,Route,Departure,Arrival,Time of Flight,Stops,Extra Services,Price,Encoded Route,Duration
0,2019-03-01,1,0,5,BLR → BOM → AMD → DEL,08:50,23:55 02 Mar,39h 5m,1,8,17135,3,2345
1,2019-03-01,10,0,5,BLR → DEL,07:00,09:40,2h 40m,4,8,21520,18,160
2,2019-03-01,4,0,5,BLR → BOM → DEL,08:55,16:10,7h 15m,0,8,26890,5,435
3,2019-03-01,1,0,5,BLR → BOM → DEL,06:45,12:15,5h 30m,0,8,23677,5,330
4,2019-03-01,3,0,5,BLR → DEL,22:20,01:10 02 Mar,2h 50m,4,8,11934,18,170

In [5]:
df.unique()

AttributeError: 'DataFrame' object has no attribute 'unique'

In [11]:
df_durations = df.loc[(df['From'] == 1) & (df['To'] == 4) & (df['Name'] == 3)]
df_durations

,Date,Name,From,To,Route,Departure,Arrival,Time of Flight,Stops,Extra Services,Price,Encoded Route,Duration
467,2019-03-01,3,1,4,MAA → CCU,11:35,14:00,2h 25m,4,8,7900,127,145
469,2019-03-01,3,1,4,MAA → CCU,14:40,17:05,2h 25m,4,8,7295,127,145
473,2019-03-01,3,1,4,MAA → CCU,05:15,07:35,2h 20m,4,8,7295,127,140
477,2019-03-01,3,1,4,MAA → CCU,07:55,10:15,2h 20m,4,8,8580,127,140
488,2019-03-01,3,1,4,MAA → CCU,13:20,15:35,2h 15m,4,8,7295,127,135
813,2019-05-01,3,1,4,MAA → CCU,05:15,07:40,2h 25m,4,8,3850,127,145
854,2019-05-01,3,1,4,MAA → CCU,19:35,21:55,2h 20m,4,8,3597,127,140
917,2019-05-01,3,1,4,MAA → CCU,14:45,17:05,2h 20m,4,8,3597,127,140
951,2019-05-01,3,1,4,MAA → CCU,13:15,15:35,2h 20m,4,8,3597,127,140
989,2019-05-01,3,1,4,MAA → CCU,07:55,10:15,2h 20m,4,8,3850,127,140
997,2019-05-01,3,1,4,MAA → CCU,11:35,14:00,2h 25m,4,8,4332,127,145
1133,2019-06-01,3,1,4,MAA → CCU,22:05,00:25 02 Jun,2h 20m,4,8,5277,127,140
1172,2019-06-01,3,1,4,MAA → CCU,19:35,21:55,2h 20m,4,8,3597,127,140
1175,2019-06-01,3,1,4,MAA → CCU,11:35,14:00,2h 25m,4,8,3858,127,145
1202,2019-06-01,3,1,4,MAA → CCU,15:40,18:25,2h 45m,4,8,3540,127,165
1203,2019-06-01,3,1,4,MAA → CCU,14:45,17:05,2h 20m,4,8,3597,127,140
1204,2019-06-01,3,1,4,MAA → CCU,13:15,15:35,2h 20m,4,8,3597,127,140
1217,2019-06-01,3,1,4,MAA → CCU,05:15,07:40,2h 25m,4,8,3540,127,145
1242,2019-06-01,3,1,4,MAA → CCU,07:55,10:15,2h 20m,4,8,3850,127,140
1443,2019-03-12,3,1,4,MAA → CCU,11:35,14:00,2h 25m,4,8,6297,127,145
1449,2019-03-12,3,1,4,MAA → CCU,13:20,15:35,2h 15m,4,8,6297,127,135
1467,2019-03-12,3,1,4,MAA → CCU,22:05,00:30 13 Mar,2h 25m,4,8,6297,127,145
1475,2019-03-12,3,1,4,MAA → CCU,07:55,10:15,2h 20m,4,8,6297,127,140
1584,2019-05-12,3,1,4,MAA → CCU,22:05,00:25 13 May,2h 20m,4,8,5277,127,140
1594,2019-05-12,3,1,4,MAA → CCU,05:15,07:40,2h 25m,4,8,3540,127,145
1653,2019-05-12,3,1,4,MAA → CCU,14:45,17:05,2h 20m,4,8,3858,127,140
1659,2019-05-12,3,1,4,MAA → CCU,13:15,15:35,2h 20m,4,8,3597,127,140
1719,2019-05-12,3,1,4,MAA → CCU,07:55,10:15,2h 20m,4,8,3850,127,140
1734,2019-05-12,3,1,4,MAA → CCU,11:35,14:00,2h 25m,4,8,4332,127,145
1822,2019-05-12,3,1,4,MAA → CCU,19:35,21:55,2h 20m,4,8,3597,127,140
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8652,2019-05-06,3,1,4,MAA → CCU,07:55,10:15,2h 20m,4,8,3850,127,140
8759,2019-05-06,3,1,4,MAA → CCU,13:15,15:35,2h 20m,4,8,3597,127,140
8817,2019-05-06,3,1,4,MAA → CCU,22:05,00:25 07 May,2h 20m,4,8,5277,127,140
8851,2019-05-06,3,1,4,MAA → CCU,05:15,07:40,2h 25m,4,8,3540,127,145
8975,2019-06-06,3,1,4,MAA → CCU,07:55,10:15,2h 20m,4,8,3850,127,140
9042,2019-06-06,3,1,4,MAA → CCU,14:45,17:05,2h 20m,4,8,3597,127,140
9172,2019-06-06,3,1,4,MAA → CCU,11:35,14:00,2h 25m,4,8,3858,127,145
9272,2019-06-06,3,1,4,MAA → CCU,05:15,07:40,2h 25m,4,8,3540,127,145
9312,2019-06-06,3,1,4,MAA → CCU,19:35,21:55,2h 20m,4,8,3597,127,140
9319,2019-06-06,3,1,4,MAA → CCU,22:05,00:25 07 Jun,2h 20m,4,8,5277,127,140
9365,2019-06-06,3,1,4,MAA → CCU,13:15,15:35,2h 20m,4,8,3597,127,140
9389,2019-03-09,3,1,4,MAA → CCU,22:05,00:25 10 Mar,2h 20m,4,8,6297,127,140
9400,2019-03-09,3,1,4,MAA → CCU,07:55,10:15,2h 20m,4,8,6297,127,140
9435,2019-03-09,3,1,4,MAA → CCU,19:35,21:55,2h 20m,4,8,6297,127,140
9492,2019-03-09,3,1,4,MAA → CCU,13:20,15:35,2h 15m,4,8,6297,127,135
9539,2019-03-09,3,1,4,MAA → CCU,17:05,19:40,2h 35m,4,8,6297,127,155
9540,2019-03-09,3,1,4,MAA → CCU,05:15,07:35,2h 20m,4,8,6482,127,140
9552,2019-03-09,3,1,4,MAA → CCU,11:35,14:00,2h 25m,4,8,6297,127,145
9804,2019-05-09,3,1,4,MAA → CCU,22:05,00:25 10 May,2h 20m,4,8,5277,127,140
9877,2019-05-09,3,1,4,MAA → CCU,19:35,21:55,2h 20m,4,8,3597,127,140
9922,2019-05-09,3,1,4,MAA → CCU,13:15,15:35,2h 20m,4,8,3597,127,140
9992,2019-05-09,3,1,4,MAA → CCU,11:35,14:00,2h 25m,4,8,4332,127,145
10103,2019-05-09,3,1,4,MAA → CCU,07:55,10:15,2h 20m,4,8,3850,127,140
10127,2019-05-09,3,1,4,MAA → CCU,05:15,07:40,2h 25m,4,8,3540,127,145
10211,2019-06-09,3,1,4,MAA → CCU,22:05,00:25 10 Jun,2h 20m,4,8,5277,127,140
10288,2019-06-09,3,1,4,MAA → CCU,05:15,07:40,2h 25m,4,8,3540,127,145
10316,2019-06-09,3,1,4,MAA → CCU,13:15,15:35,2h 20m,4,8,3597,127,140
10511,2019-06-09,3,1,4,MAA → CCU,14:45,17:05,2h 20m,4,8,3597,127,140
10551,2019-06-09,3,1,4,MAA → CCU,11:35,14:00,2h 25m,4,8,3858,127,145
10660,2019-06-09,3,1,4,MAA → CCU,07:55,10:15,2h 20m,4,8,3850,127,140

In [7]:
df_durations

,Date,Name,From,To,Route,Departure,Arrival,Time of Flight,Stops,Extra Services,Price,Encoded Route,Duration
483,2019-03-01,1,1,4,MAA → CCU,11:40,13:55,2h 15m,4,8,19630,127,135
894,2019-05-01,1,1,4,MAA → CCU,11:40,13:55,2h 15m,4,8,4667,127,135
1044,2019-06-01,1,1,4,MAA → CCU,11:40,13:55,2h 15m,4,8,4667,127,135
1437,2019-03-12,1,1,4,MAA → CCU,11:40,13:55,2h 15m,4,8,7082,127,135
1611,2019-05-12,1,1,4,MAA → CCU,11:40,13:55,2h 15m,4,8,4667,127,135
2132,2019-06-12,1,1,4,MAA → CCU,11:40,13:55,2h 15m,4,8,4667,127,135
2335,2019-03-15,1,1,4,MAA → CCU,11:40,13:55,2h 15m,4,8,7082,127,135
2876,2019-05-15,1,1,4,MAA → CCU,11:40,13:55,2h 15m,4,8,4667,127,135
3259,2019-06-15,1,1,4,MAA → CCU,11:40,13:55,2h 15m,4,8,4667,127,135
3422,2019-03-18,1,1,4,MAA → CCU,11:40,13:55,2h 15m,4,8,4405,127,135
3939,2019-05-18,1,1,4,MAA → CCU,11:40,13:55,2h 15m,4,8,4667,127,135
4299,2019-03-21,1,1,4,MAA → CCU,11:40,13:55,2h 15m,4,8,3670,127,135
4836,2019-05-21,1,1,4,MAA → CCU,11:40,13:55,2h 15m,4,8,4667,127,135
5174,2019-06-21,1,1,4,MAA → CCU,11:40,13:55,2h 15m,4,8,4667,127,135
5546,2019-03-24,1,1,4,MAA → CCU,11:40,13:55,2h 15m,4,8,4405,127,135
6293,2019-06-24,1,1,4,MAA → CCU,11:40,13:55,2h 15m,4,8,4667,127,135
6389,2019-03-27,1,1,4,MAA → CCU,11:40,13:55,2h 15m,4,8,3145,127,135
6749,2019-05-27,1,1,4,MAA → CCU,11:40,13:55,2h 15m,4,8,4667,127,135
7487,2019-03-03,1,1,4,MAA → CCU,11:40,13:55,2h 15m,4,8,10810,127,135
7772,2019-05-03,1,1,4,MAA → CCU,11:40,13:55,2h 15m,4,8,4667,127,135
8428,2019-03-06,1,1,4,MAA → CCU,11:40,13:55,2h 15m,4,8,9340,127,135
8656,2019-05-06,1,1,4,MAA → CCU,11:40,13:55,2h 15m,4,8,4667,127,135
9475,2019-03-09,1,1,4,MAA → CCU,11:40,13:55,2h 15m,4,8,7817,127,135
9991,2019-05-09,1,1,4,MAA → CCU,11:40,13:55,2h 15m,4,8,4667,127,135
10280,2019-06-09,1,1,4,MAA → CCU,11:40,13:55,2h 15m,4,8,4667,127,135

In [61]:
d = df.loc[(df['From'] == 0) & (df['To'] == 4) & (df['Name'] == 0)]

In [62]:
d

Empty DataFrame
Columns: [Date, Name, From, To, Route, Departure, Arrival, Time of Flight, Stops, Extra Services, Price, Encoded Route, Duration]
Index: []

In [54]:
d.Duration.unique().mean()

148.0

In [51]:
d['Extra Services'].unique()

array([8], dtype=int64)

In [65]:
d = df.loc[(df['From'] == 1) & (df['To'] == 4)]

In [69]:
d.Name.unique()

array([11,  8,  3,  1, 10], dtype=int64)